// "use client";

import React from "react";
import { FC } from 'react'; export
import {{pascalCase name}} from './_{{name}}/{{pascalCase name}}';

interface {{pascalCase name}}Props {
  // propsの型定義
}

{{!-- {{pascalCase name}}.defaultProps = {
  // デフォルトのプロパティ値を定義する
};

{{pascalCase name}}.propTypes = {
  // プロパティの型を定義する
}; --}}

const Page: FC<{{pascalCase name}}Props> = props => {
  return (
    <div className="">{{pascalCase name}}</div>
  );
};

export default Page;
